

 /* CSS */
  .button-5 {
     align-items: center;place-self: center;
     background-clip: padding-box;
     background-color: darkolivegreen;
     border: 1px solid transparent;
     border-radius: 25px;
     box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: inline-flex;
     font-size: 16px;
     justify-content: center;
     line-height: 1.25;
     margin: 0;
     text-decoration: none;
     transition: all 250ms;
     width: 50%;
      height: 50px;
    }
 #buttonsvg{
      background-color: red;
 }

.button-5:hover,
.button-5:focus,#buttonsvg:hover {
    background-color: darkblue;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}